<div id="header"><img class="imgLogo" src="assets/images/head.gif" alt="SITAR Emilia-Romagna Servizio Informativo Telematico Appalti Regionale della regione Emilia-Romagna" width="700" height="123" border="0" usemap="#Map">
  <map name="Map" id="Map">
    <area shape="rect" coords="0,15,276,57" href="http://www.regione.emilia-romagna.it" target="_blank" alt="Regione Emilia-Romagna">
    <area shape="rect" coords="499,18,691,59" href="http://territorio.regione.emilia-romagna.it/osservatorio" target="_blank" alt="Osservatorio Regionale dei Contratti pubblici">
  </map>  
</div>
<div id="menu"></div>
