
<div class="col-12 header-mid">
  <div class="row">
    <div class="col-2">
        <div class="header-mid-logo">
          <a href="http://contrattipubblici.regione.marche.it/" tabindex="-1">					
            <img src="assets/images/reg-marche/Portale_Contratti_Pubblici_logo.png" alt="logo">
          </a>
        </div>
    </div>
    <div class="col-8"></div>
    <div class="col-2">
        <div class="header-mid-logo">
            <a href="http://www.regione.marche.it/" tabindex="-1">					
              <img src="assets/images/reg-marche/logo_left.png" class="header-left-img" alt="logo">
            </a>
        </div>
    </div>
  </div>
</div>


