<footer class="navbar-fixed-bottom" id='footer'>
    <div class="green-row"></div>
    <div class="footer row">
  
        <div class="col-4">
            <h2>CONTRATTI</h2>
            <ul>
                <li class="footer-element list-square-style"><a class="footer-link" href="http://portaletrasparenza.avcp.it/microstrategy/html/index.htm">Portale trasparenza ANAC</a></li>
                <li class="footer-element list-square-style"><a class="footer-link" href="http://suam.regione.marche.it/">S.U.A.M.</a></li>
                <li class="footer-element list-square-style"><a class="footer-link" href="/Normativa">Normativa</a></li>
                <li class="footer-element list-square-style"><a class="footer-link" href="/Elenco-servizi/Osservatorio">Osservatorio</a></li>
                <li class="footer-element list-square-style"><a class="footer-link" href="/Elenco-servizi/Durc">DURC e Sicurezza</a></li>
            </ul>
        </div>
        <div class="col-4">
            <h2>APPALTI</h2>
            <ul>
                <li class="footer-element list-square-style"><a class="footer-link" href="/Servizi-On-line/Servizi-on-line-di-libera-consultazione/Notiziario">Notiziario Generale Appalti</a></li>
                <li class="footer-element list-square-style"><a class="footer-link" href="/Servizi-On-line/Servizi-on-line-per-le-Amministrazioni/Servizio-contrati-pubblici-SCP">Servizio Contratti Pubblici</a></li>
                <li class="footer-element list-square-style"><a class="footer-link" href="/Servizi-On-line/Servizi-on-line-di-libera-consultazione/Elenco-opere-incompiute">Rilevazioni Opere Incompiute</a></li>
                <li class="footer-element list-square-style"><a class="footer-link" href="/Servizi-On-line/Servizi-on-line-di-libera-consultazione/Programmazione">Programmazione triennale</a></li>
            </ul>
        </div>
        <div class="col-4">
             <h2>CONTATTI</h2>
            <ul>
                <li class="footer-element list-no-style">Stazione Unica Appaltante della Regione Marche</li>
                <li class="footer-element list-no-style">Ancona Via Palestro, 19</li>
                <li class="footer-element list-no-style">Cap 60122 - AN</li>
                <li class="footer-element list-no-style">Telefono: 071 8067330</li>
                <li class="footer-element list-no-style">Email:  <a class="footer-link" href="mailto:funzione.suam@regione.marche.it">funzione.suam@regione.marche.it</a></li>
            </ul>
        </div>
    </div>
  </footer>
  